# Library folder for all libraries of the project.
/library/

# CCLS cache for intellisense and language server support.
/**/.ccls-cache

# Binaries folder.
/binary/

# For HTML test files.
HTML
*.html
